<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="replace" />
    <!-- Required for Google Play Billing (In-App Purchases) -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Android 11 (API 30) Package Visibility -->
    <queries>
        <package android:name="com.google.android.gms" />
        <intent>
            <action android:name="com.google.android.gms.auth.api.identity.service.START" />
        </intent>
        <intent>
            <action android:name="com.google.android.gms.auth.api.signin.SERVICE" />
        </intent>
        <intent>
            <action android:name="com.google.android.gms.ads.AdService" />
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>
    </queries>

    <application
        android:name="com.example.NotesNest.NotesApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notes"
        android:extractNativeLibs="true"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4258152474007475~9583641622"/>
        <!-- DEBUG id
         android:value="ca-app-pub-3940256099942544~3347511713"/>-->

        <activity
            android:name="com.example.NotesNest.activity.ManageAccountActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NotesNest.activity.PremiumActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NotesNest.activity.DriveBackupActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NotesNest.activity.HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NotesNest.activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NotesNest.activity.EditReminderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NotesNest.activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NotesNest.activity.EditNoteActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name="com.example.NotesNest.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />

        <activity
            android:name="com.example.NotesNest.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.NotesNest.activity.SyncOverlayActivity"
            android:exported="false" />

        <activity
            android:name="com.example.NotesNest.activity.ReminderAlarmActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Notes" />

        <activity
            android:name="com.example.NotesNest.activity.NoteWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.example.NotesNest.widgets.NoteWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name="com.example.NotesNest.widgets.CreateNoteWidget"
            android:exported="true"
            android:label="@string/create_note_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/create_note_widget_info" />
        </receiver>

        <receiver
            android:name="com.example.NotesNest.notifications.receivers.AlarmDismissReceiver"
            android:exported="false" />

        <receiver
            android:name="com.example.NotesNest.notifications.receivers.BootReceiver"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>